div#main-div {
    padding: 20px;
}

div#input-box {
    padding: 10px;
    height: 100%;
    width:100%;
    overflow: hidden; /* This makes sure that children stay inside the parent div */
}

form#fileinfo {
    float: left;
    width: 40%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    *display: inline;
    zoom: 1;
}

div#file-input, div#document-input {
    float: left;
    height: 100%;
    width: 20%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    *display: inline;
    zoom: 1;
}

#document-text, #regex-text {
    height: 300px;
    width: 70%;
}

#document-pandas {
    height: 300px;
}