div#main-div {
    padding: 20px;
}

div#document-input, div#file-input {
    text-align: center;
}

div#document-text {
    height: 300px;
}

.scrollable {
    overflow: scroll;
}

.bordered {
    white-space: pre-wrap;  /* For treating \n as a newline */
    border:  1px dashed #000;
    padding: 10px;
    margin: 20px 0 20px 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
