div#document-info {
    margin: 20px;
}

div#document-input {
    margin: 20px;
    text-align: center;
}

div#document-text {
    white-space: pre-wrap;
    border:  1px dashed #000;
    height: 300px;
    overflow: auto;
    padding: 10px;
    margin: 20px 0 20px 0;
}
