div#customer-main-box {
    padding: 10px;
    display: inline-block;
    width: 98%;
    overflow: hidden; /* This makes sure that children stay inside the parent div */
}

form#customer-fileinfo {
    float: left;
    margin: 2%;
    display: inline-block;
    text-align: center;
    *display: inline;
    width: 40%;
    zoom: 1;
}

div#customer-file-input-box {
    overflow: hidden;
}

div#pipeline-box {
    float: left;
    width:40%;
}

div#customer-table-box {
    clear: left;
    padding: 10px;
    overflow: hidden; /* This makes sure that children stay inside the parent div */
}

