azure-common==1.1.25
azure-core==1.8.0
azure-storage-blob==12.4.0
boto3==1.9.253
botocore==1.12.253
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.0
Django==2.1.15
django-cors-middleware==1.3.1
django-filter==2.2.0
djangorestframework==3.9.4
docutils==0.15.2
flake8==3.6.0
future==0.18.2
google-api-core==1.22.1
google-auth==1.20.1
google-cloud-vision==0.38.1
googleapis-common-protos==1.52.0
grpcio==1.31.0
hjson==3.0.1
idna==2.10
ijson==3.1.1
isodate==0.6.0
jmespath==0.10.0
mccabe==0.6.1
msrest==0.6.18
numpy==1.19.1
oauthlib==3.1.0
pandas==0.25.3
pdf2image==1.5.4
pdftotext==2.1.5
Pillow==7.2.0
protobuf==3.13.0
psycopg2==2.7.7
pyap==0.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.4.0
pycparser==2.20
pycryptodomex==3.9.8
pyflakes==2.0.0
Pygments==2.4.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.2.1
six==1.15.0
snowflake-connector-python==1.8.7
snowflake-sqlalchemy==1.1.18
SQLAlchemy==1.3.19
urllib3==1.25.10
xlrd==1.2.0
