# The following have been working with python 3.7.6

Django>=2.1.3,<2.2.0
djangorestframework>=3.9.0,<3.10.0
django-filter>=2.2.0,<2.2.1
psycopg2>=2.7.5,<2.8.0
pygments>=2.4.2,<2.5.0
django-cors-middleware>=1.3.1,<1.4.0
# pdftotext 2.1.5 works with pdftotext -v 0.90.1
# pdftotext 2.1.2 works with pdftotext -v 0.81.0
pdftotext>=2.1.1,<2.2.0
pyPDF2>=1.26.0,<1.27.0
pandas>=0.24.0,<1.0.0
hjson>=3.0.1,<3.1.0
xlrd>=1.2.0,<1.3.0
snowflake-connector-python>=1.8.3,<1.9.0
snowflake-sqlalchemy>=1.1.13,<1.2.0
pdf2image>=1.5.4,<1.6.0
pyap>=0.2.0,<0.3.0
google-cloud-vision>=0.38.1,<0.38.2

flake8>=3.6.0,<3.7.0
