# Python version 3.7.6
# Poppler utils 0.90.1
asn1crypto==1.2.0
azure-common==1.1.23
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
boto3==1.9.251
botocore==1.12.251
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cryptography==2.7
Django==2.1.13
django-cors-middleware==1.3.1
django-filter==2.2.0
djangorestframework==3.9.4
docutils==0.15.2
flake8==3.6.0
future==0.18.0
google-api-core==1.14.3
google-auth==1.6.3
google-cloud-vision==0.38.1
googleapis-common-protos==1.6.0
grpcio==1.24.1
hjson==3.0.1
idna==2.8
ijson==2.5.1
jmespath==0.9.4
mccabe==0.6.1
numpy==1.17.2
pandas==0.25.1
pdf2image==1.5.4
# 2.1.2 works with poppler 0.81.0, 2.1.5 works with poppler 0.90.1
pdftotext==2.1.5
Pillow==6.2.0
protobuf==3.10.0
psycopg2==2.7.7
pyap==0.2.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.4.0
pycparser==2.19
pycryptodomex==3.9.0
pyflakes==2.0.0
Pygments==2.4.2
PyJWT==1.7.1
pyOpenSSL==19.0.0
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
rsa==4.0
s3transfer==0.2.1
six==1.12.0
snowflake-connector-python==1.8.7
snowflake-sqlalchemy==1.1.15
SQLAlchemy==1.3.10
urllib3==1.25.6
xlrd==1.2.0
